@font-face {
  font-family: 'PP Telegraf';
  src: url('fonts/PPTelegraf-Regular.woff2') format('woff2'),
  url('fonts/PPTelegraf-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Telegraf';
  src: url('fonts/PPTelegraf-Bold.woff2') format('woff2'),
  url('fonts/PPTelegraf-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "PP Telegraf", sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'PP Telegraf', sans-serif;
}

p {
  line-height: 1.2;
}

h2 {
  line-height: 1;
  margin-bottom: 5px;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

section.main-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#sidebar-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar {
  margin-top: 200px;
  margin-left: 40px;
  width: 200px;
  left: -200px;
  transition: left 0.3s ease-in-out;
  gap: 200px;
}

.content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#sidebar-toggle-button {
  margin-top: 10px;
  margin-left: 20px;
  position: static;
  display: block;
  width: 53.2969px;
  height: 35px;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
}

h1.logo {
  margin-left: 20px;
  margin-top: 20px;
  height: 43.5px;
  font-family: 'PP Telegraf', sans-serif;
  line-height: 1;
}

.nav a {
  display: block;
  text-decoration: none;
  color: black;
  font-family: 'PP Telegraf', sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}


.main-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
}

.main-image-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 61.8%;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: flex-start;
  margin-left: 40px;
  gap: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  text-align: start;
  position: static;
  width: 30%;
  max-width: 100%;
  margin-left: 40px;
  gap: 20px;
}

.image-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 20px;
}

.image-container img {
  width: 100%;
  max-width: 750px;
  height: auto;
  align-items: flex-start;
}

.text-content {
  align-self: flex-start;
  max-width: 750px;
  text-align: left;
  display: block;
  position: static;
  float: none;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.extra-content {
  flex-basis: 38.2%;
  flex-grow: 0;
  flex-shrink: 1;
}

@media (max-width: 974.32px) {
  section.main-content {
    flex-direction: column;
    flex-wrap: wrap;
  }
  section.main-content > * {
    width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0);
    display: flex;
  }
}

.sidebar-toggle-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 101;
  padding: 10px;
  background-color: #f5f5f5;
  color: black;
  border: none;
  cursor: pointer;
  line-height: 1;
}


