@font-face {
  font-family: 'PP Telegraf';
  src: url('fonts/PPTelegraf-Regular.woff2') format('woff2'),
  url('fonts/PPTelegraf-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Telegraf';
  src: url('fonts/PPTelegraf-Bold.woff2') format('woff2'),
  url('fonts/PPTelegraf-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "PP Telegraf", sans-serif;
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  font-family: 'PP Telegraf', sans-serif;
}

.sidebar {
  width: 200px;
  left: -200px;
  transition: left 0.3s ease-in-out;
  gap: 200px;
}
#sidebar-toggle-button {
  top: 20px;
  transform: none;
  right: 10px;
  transition: right 0.3s ease-in-out;
  position: absolute;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eee;
  color: #333;
  z-index: 10;
}

h1.logo {
  margin-left: 10px;
  height: 43.5px;
  font-family: 'PP Telegraf', sans-serif;
}

.nav a {
  display: block;
  text-decoration: none;
  color: black;
  font-family: 'PP Telegraf', sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

.content {
  margin-left: 270px;
  padding: 40px;
  max-width: 800px;
}

@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0);
    display: flex;
  }
}

.sidebar-toggle-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 101;
  padding: 10px;
  background-color: blue;
  color: black;
  border: none;
  cursor: pointer;
}
