@font-face {
  font-family: 'PP Telegraf';
  src: url('fonts/PPTelegraf-Regular.woff2') format('woff2'),
  url('fonts/PPTelegraf-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Telegraf';
  src: url('fonts/PPTelegraf-Bold.woff2') format('woff2'),
  url('fonts/PPTelegraf-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "PP Telegraf", sans-serif;
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  font-family: 'PP Telegraf', sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background: white;
  border-right: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

h1.logo {
  font-family: 'PP Telegraf', sans-serif;
}

.nav a {
  display: block;
  text-decoration: none;
  color: black;
  font-family: 'PP Telegraf', sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

.content {
  margin-left: 270px;
  padding: 40px;
  max-width: 800px;
}
